<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>import</string>
		<string>Main</string>
		<string>CommonFunctions</string>
		<string>FileIO</string>
		<string>Animation</string>
		<string>README</string>
		<string>StatusBar</string>
		<string>Button</string>
	</array>
	<key>Created</key>
	<string>2013-04-01 17:19:49 +0000</string>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
